.recipe-card{
    width:350px;
    min-width:350px;
    height:200px;
    border-radius: 25px;
    padding: 0 10px;
    border: 1px solid  var(--main-pink-color);
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: transform .2s;
}

.recipe-card:hover{
    transform: scale(1.02);
    cursor: url('../../assets/finger.png'), auto;
}

.recipe-card-content{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-card-content h2{
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.recipe-card .emojis div{
    font-size: 4em;
    height:fit-content;
    width: fit-content;
    margin: auto;
    overflow: hidden;
    max-width: 90%;
    max-height: 80%;
}