.landing-page{
    padding:20px;
    background-color: var(--main-orange-color);
}

.landing-page h1{
    font-size: 35px;
    text-align: center;
}

.hero h1 {
    font-size: 80px;
    text-align: center;
    margin: 50px 0 5px 0;
}

.dot{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-pink-color);
}

.hero h2{
    font-size: 35px;
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
}

.hero-container{
    width: 100%;
    display: inline-flex;
    margin: -88px auto 0 auto;
    align-items: center;
    justify-content: center;
}

.recipe-guy{
    background-image: url('../../assets/recipe-finder-guy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
    width: 350px;
    position: relative;
}

.options{
    font-size: 40px;
    display: flex !important;
    flex-direction: column;
    font-weight: bold;
}

.option{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    line-height: 70px;
}

.option:hover{
    filter: brightness(95%);
}

.arrow-circle{
    background-image: url('../../assets/arrow-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:40px;
    height:40px;
    margin-left: 20px;
}


.latest-recipes{
    display: inline-flex;
    overflow-x: scroll;
    margin-bottom: 25px;
    width: 100%;
    padding:10px;
}

.latest-recipes * {
    margin-right: 20px;
}

.faq p{
    text-align: center;
}

.accordion{
    width:50%;
    max-width: 700px;
    margin:auto;
}


@media screen and (min-width: 600px) and (max-width: 900px) {
    .landing-page{
        padding:40px 0 40px 40px;
    }

    .landing-page h1{
        text-align: left;
    }

    .hero h2{
        text-align: left;
        padding-right: 40px;
    }

    .accordion{
        width:70%;
    } 

    .faq p{
        text-align: left;
    }

    .accordion{
        width:80%;
        margin:0;
    }
}
  

@media screen and (max-width: 600px) {
    .landing-page h1{
        text-align: left;
    }

    .hero h1 {
        text-align: left;
        margin: 40px 0px -20px 0;
    }

    .hero h2{
        text-align: left;
        margin: 30px 10px 30px 5px;
    }

    .hero-container{
        margin: -50px auto 0 auto;
    }

    .recipe-guy{
        height: 400px;
        width: 250px;
        margin-left:-40px;
    }

    .options{
        margin-left: -60px;
        font-size: 35px;
    }

    .faq p{
        text-align: left;
    }

    .accordion{
        width:80%;
        margin:0;
    }
    
}
  