.recipe-guy{
    background-image: url('../../assets/recipe-finder-guy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:500px;
    height:600px;
}

.options{
    cursor: pointer;
}
