.carousel {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width:calc(100vw - 40px);
}
  
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  justify-content: center;
}

.carousel-item:hover {
  cursor: pointer;
}

.carousel-item .recipe {
  border-radius: 25px 25px 0 0;
  position: absolute;
  bottom:0;
  width: 80%;
  height: 90%;
  overflow: hidden;
  border: var(--main-blue-color) 2px solid;
  padding:20px;
}

.recipe h1 {
  width: 100%; 
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.recipe .emojis{
  width:80%;
  height:25vh;
  margin:50px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe .emojis div {
  font-size: 4em;
  height:fit-content;
  width: fit-content;
}

.recipe .emojis div *  {
  padding:10px;
}

.recipe .details {
  width:70%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.recipe .details * {
  background-color: var(--main-blue-color);
  color:var(--main-peach-color);
  border-radius: 15px;
  padding:5px 15px;
  margin: 0 15px;
}

.recipe .diet-type{
  width:40%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.recipe .diet-type * {
  border: 2px solid var(--main-blue-color);
  color:var(--main-blue-color);
  border-radius: 15px;
  padding:5px 15px;
  margin: 0 15px;
}

.indicators {
  width: 100%;
  padding:20px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.back-button{
  background-image: url('../../assets/arrow-left.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:40px;
  height:40px;
}

.next-button{
  background-image: url('../../assets/arrow-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width:40px;
  height:40px;
}

@media screen and (min-width: 600px)  and (max-width: 1200px) and (orientation: portrait){
  .carousel-item .recipe {
    height: 80%;
  }
}


@media screen and (max-width: 600px) {

  .recipe .emojis {
    height: 15vh;
  }

  .carousel{
    width: 100vw;
 
  }

  .carousel-item .recipe {
    height: 75%;
  }

  .details, .diet-type{
    display: flex;
    flex-direction: column;
  }

  .details * , .diet-type *  {
    margin: 0 15px 10px 15px;
  }

  .back-button, .next-button{
    background-color: var(--main-peach-color);
  }
}