:root {
    --main-pink-color: pink;
    --main-orange-color: rgb(255, 136, 0);
    --main-white-color: white;
    --main-red-color: red;
}

body{
    width:100vw;
    height:100vh;
    margin:0;
    font-family: 'Poppins', sans-serif;
    color:  var(--main-pink-color);
}

a{
    text-decoration: none;
    color: var(--main-pink-color);
}

.subpage{
    width:100vw;
    height:calc(100vh - 110px);
    padding:20px;
    background-color:  var(--main-orange-color);
    overflow: hidden;
}

.scroll-subpage{
    width:100vw;
    min-height: 100vh;
    padding:20px; 
    background-color:  var(--main-orange-color);
}

.rotated-heading{
    transform: rotate(-90deg);
    position: absolute;
    top: 150px;
    left:0;
    margin:0;
}

input, textarea, button, select{
    padding:10px;
    border:none;
    border-radius: 25px;
}

input, textarea , select{
    border: 1px solid  var(--main-pink-color);
    background-color: transparent;
    color:var(--main-pink-color);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

input::placeholder, textarea::placeholder{
    color: var(--main-pink-color);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

button, input[type=submit]{
    background-color: var(--main-pink-color);
    color: var(--main-orange-color);
}

section{
    margin-bottom: 80px;
}

li{
    line-height: 25px;
}

.loading-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}