body{
    width:100vw;
    height:100vh;
    margin:0;
}

a{
    text-decoration: none;
    color:black;
}

.subpage{
    width:100vw;
    height:calc(100vh - 100px);
    padding:20px;
}

.scroll-subpage{
    width:100vw;
    padding:20px; 
}

.rotated-heading{
    transform: rotate(-90deg);
    position: absolute;
    top: 95px;
}

input, textarea, button{
    padding:10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border:none;
    border-radius: 25px;
}

section{
    margin-bottom: 80px;
}

.dot{
    background-color: rgb(252, 196, 92);
    width:20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
}

.dottext{
    display: flex;
    align-items: baseline;
    width: fit-content;
    margin: auto;
}